@use '../utilities/variables';
@use '../utilities/mixing' as *;

/* ---- ESTILO HEADER ---- */
header {
    padding: 30px;
    background-color: variables.$color-bco;
    
    .navbar {
        .navbar-brand img {
            max-height: 40px;
            width: auto;
        }

        .navbar-nav {
            gap: 70px;

            .nav-link {
                font-family: variables.$font-txt;
                font-weight: 400;
                font-size: 1.4em;
                color: variables.$color-pr-gris;
                padding: 10px 25px;
                border-top: 2.5px solid transparent;

                &:hover {
                    border-top-color:variables.$color-pr-gris;
                }

                &:focus-visible, &:active { 
                    background-color: variables.$color-sec-gris_cla; 
                }
            }

            .nav-link.active {
                    border-top-color: variables.$color-sec-gris_cla;
            }
        }

        .navbar-toggler {
            border: none;
            &:focus {
                box-shadow: none;
            }

            .navbar-toggler-icon {
                background-image: none;
                width: 24px;
                height: 2px;
                background-color: variables.$color-pr-nja;
                position: relative;
                display: block;

                &::before, &::after {
                    content: "";
                    width: 24px;
                    height: 2px;
                    background-color: variables.$color-pr-nja;
                    position: absolute;
                    left: 0;
                    @include smooth-transition;
                }

                &::before {
                    top: -8px;
                }

                &::after {
                    top: 8px;
                }
            }
        }

        .navbar-toggler[aria-expanded="true"] {
            .navbar-toggler-icon {
                background-color: transparent;

                &::before { 
                    transform: rotate(45deg);
                    top: 0;
                }

                &::after {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }
        }
    }

    @media (max-width: variables.$tablet) {
        .navbar {
            .navbar-nav {
                margin-top: 30px;
                padding-top: 20px;
                border-top: 2px solid variables.$color-pr-nja;
                width: 100%;
                display: flex;
                gap: 20px;
                justify-content: space-around;
                align-items: center;

                .nav-link {
                    &:hover, &:focus-visible, &:active {
                        opacity: 0;
                    }
                }

                .nav-link.active {
                    border:none;
                    color: variables.$color-pr-nja;
                }
                
            }
        }
    }

    @media (max-width: variables.$mobile) {
        padding: 40px 20px;
    }
}

