/* ---- COLORES ---- */
$color-pr-nja: #f19300;
$color-sec-nja_osc: #d97f00;
$color-sec-nja_cla: #f1930020;

$color-pr-gris: #3e3f3f;
$color-sec-gris_osc: #2f3030;
$color-sec-gris_cla: #e8e8e8;

$color-bco: #fff;
$color-ngr: #000;

$color-error: #e63946;
$color-error-cla: #e6394641;

/* ---- TPGS ---- */
$font-titles: "Days One", sans-serif;
$font-txt: "Montserrat", sans-serif;

/* ---- MEDIDAS RESPONSIVE ---- */
$mobile: 500px;